body{
  font-size: 16px;
}
.wrapper {
  width: 60%;
  margin: 0 auto;
  padding :5%;
  box-shadow: 1px 5px 5px 1px rgb(165, 165, 165);
}
.work {
  width:100%;
}
.header {
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.profile-picture {
  width: 250px;
  height: 250px; 
  grid-column: 9/13;
  overflow: hidden;
  border-radius: 50%; 
}
.profile-picture img {
  width: 100%; 
  height: auto; 
}
.profile-name{
  grid-column: 1/8;
}
.tech {
  font-weight:700;
}
h1 {
  font-size: 3em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
p{
  font-size: 1.1em;
}
.AboutMe {
  display: flex;
}
.left {
  width: 35%;
  margin-right: 7%;
}
.project h4 {
  margin-top:0;
  margin-bottom: 1.5%;
}
.project{
  margin-bottom: 5%;
}
.projectDesc{
  display:grid;
  grid-template-columns: repeat(12,1fr);
}
.projectDesc p {
  grid-column: 1/7;
}
.projectDesc img {
  grid-column: 8/13;
  width: 100%;
  margin: auto;
}
.projectDesc p {
  margin: 0;
}
.technologies{
  margin-top: 0.75%;
}
.skills p{
  margin:0;
}
ul li{
  margin:0;

}
.tg{
  display: flex;
  margin-top: 40px;
}
.tg a {
  margin-left:1%;
  color: black;
}
.project a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1300px) {
  .skillsDesc{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
  }
  .AboutMe{
    display: block;
  }
  .left {
    width: 100%;
    margin-right: 0%;
  }
  .tg{
    margin-top: 0;
  }
}
@media screen and (max-width: 1000px) {
  .wrapper {
    width:70%;
  }
  body{
    font-size: 14px;
  }
} 
@media screen and (max-width: 750px) {
  .projectDesc img {
    width: 85%;
  }
}
@media screen and (max-width: 650px) {
  .projectDesc img {
    width: 65%;
  }
  .profile-picture {
    width: 200px;
    height: 200px; 
  }
  .wrapper {
    width:100%;
  }
}
@media screen and (max-width: 550px) {
  .AboutMe{
    display: block;
  }
  .left {
    width: 100%;
    margin-right: 0%;
  }
  
}
@media screen and (max-width: 400px) {
  .profile-picture {
    width: 150px;
    height: 150px; 
  }
  body{
    font-size: 12px;
  }
  .AboutMe{
    display: block;
  }
  .left {
    width: 100%;
    margin-right: 0%;
  }
  .projectDesc p {
    grid-column: 1/13;
  }
  .projectDesc img {
    grid-column: 2/11;
    width: 65%;
    margin: auto;
  }
  .project{
    margin-bottom: 4   5px;
  }
}